spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        mentorship-channel:
          name: mentorship_channel
        follower-event-channel:
          name: follower_event

server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    root: info

minio:
  url: http://localhost:9000
  accessKey: LbtJkdBst2Fzh9PQWMbn
  secretKey: ZQsUFl0ToSUn8U6xH6dAoBnpWruKS0kvkiAvsVXN
  bucketName: corpbucket

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

myapp:
  schedule:
    cron: "0 0 0 * * MON"

del:
  batch-size: 100