spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  elasticsearch:
    uris: http://localhost:9200

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

  data:
    redis:
      port: 6379
      host: localhost
      elastic-search-key: elasticSearchScore
      channels:
        mentorship-channel:
          name: mentorship_channel
        follower-event-channel:
          name: follower_event2
  task:
    scheduling:
      cron-elastic-search-data-sync: 0 0/1 * * * ?

server:
  port: 8080

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

user-premium:
  premium-score: 100

