spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        mentorship-channel:
          name: mentorship_channel
        follower-event-channel:
          name: follower_event
        recommendation-channel:
          name: recommendation_channel

server:
  port: 8080

logging:
  level:
    root: debug

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080
  name: PaymentService

dicebear:
  api:
    url: https://api.dicebear.com/6.x/shapes/svg

minio:
  endpoint: http://localhost:9000
  username: user
  password: password
  region: us-east-1
  avatarBucket: avatars

premium:
  updater:
    batch-size: 50
    cron: 0 0 0 * * 0
    zone: Europe/Moscow
    thread-pool: 1